<ion-view view-title="Events">
    <ion-content has-header="true" scroll="true">

        <div class="list list-inset">
            <label class="item item-input">
                {{ date }} <button class="button button-icon" ng-click="setDate()">
                <i class="icon ion-clock"></i></button>
            </label>
        </div>

        <div class="list">
            <a ng-repeat="event in Events" class="item item-thumbnail-left" ui-sref="tabs.event({id:event._id})">
                <img ng-src="{{event.image}}">
                <h2>{{event.title}}</h2>
                <p>{{event.time}}</p>
                <p><span ng-class="{'cost-free':event.cost.indexOf('FREE') != -1,'cost':event.cost.indexOf('FREE') === -1}">{{event.cost}}</span></p>
                <p>{{event.region}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>