<div class="modal">

<!-- Modal header bar -->
<ion-header-bar class="bar bar-header bar-positive">
  <button class="button button-small button-positive" ng-click="closeNewTask()">Cancel</button>
  <h1 class="title">Filters</h1>
  <button class="button button-small button-positive" ng-click="applyFilters()">Search</button>
</ion-header-bar>

<!-- Modal content area -->
<ion-content has-header="true" scroll="false">
  <div class="list">
    <label class="item item-input">
        Date <button class="button button-clear button-positive" ng-click="setDate()">{{ formatDate(modalData.date) }}</button>
    </label>
      <ion-toggle ng-model="modalData.onlyFree">Only <span class="cost-free">FREE</span> events</ion-toggle>
  </div>
</ion-content>
</div>
